<div class="mypage">
  <div class="left-mypage">
    <div class="left-my-hight">
      <div class="my-profile-img"></div>
      <div class="nickname-border">
        <%= form_with model: @user, url: users_path do |f| %>
          <div class="field-user">
            <%= f.label :nickname %>
            <%= f.text_field :nickname %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="left-my-low">
    <ul>
      <div class="li-border">
        <li>Profile</li>
        <li>Calendar</li>
        <li>Graph</li>
      </div>
    </ul>
    </div>
  </div>
  <div class="right-mypage">
    <div class="right-my-hight">
      <div class="profile-header">
        <h2 class="profile-title">Profile</h2>
        <button class="save-btn">Save</button>
      </div>
      <div class="profile-text"></div>
    </div>
    <div class="right-my-low">
      <div class="my-photo">
        <div class="my-photo-title">My Posts List</div>
        
        <ul class = "photo-li">
         <span class = "list-json"></span>
            
            <% @tweets.each do |tweet| %>
            <li class="photo-up">
              <div class="photo-img"></div>
               <span><%= tweet.title%></span>
             <% end %>
             <div class="pad">
              <%= paginate @tweets %>
             </div>
            </li> 
        </ul>
        <%# <ul class="my-photo-column">
          <li>
            <div class="my-tweet-img"></div>
            <div class="my-tweet-text">
            <% @tweets.each do |tweet| %>
            <%# <li class="photo-up">
              <div class="photo-img"></div>
               <%# <span><%= tweet.title%></span> 
             <%# <% end %>
            <%# </div>
          </li>
          <li>
            <div class="my-tweet-img"></div>
            <div class="my-tweet-text"></div> %>
          <%# </li>
          <li>
            <div class="my-tweet-img"></div>
            <div class="my-tweet-text"></div>  %>
          <%# </li>  %>
        <%# </ul>  %>
      </div>
    </div>
  </div>
</div>