<div class="mypage">
  <div class="left-mypage">
    <div class="left-my-hight">
      <div class="my-profile-img">
        
        <%# <%= image_tag @user.image %>  
        
      </div>
      <div class="nickname-border">
        <p>Nickname</p>
      </div>
    </div>
    <div class="left-my-low">
    <ul>
      <div class="li-border">
        <li class="profile-btn">Profile</li>
        <li class="calendar-btn">Calendar</li>
        <li class="graph-btn">Graph</li>
      </div>
    </ul>
    </div>
  </div>
  <div class="right-mypage">
    <section class="profile">
        <div class="right-my-hight">
          <div class="profile-header">
            <h2 class="profile-title">Profile</h2>
            <div>
            <%= link_to destroy_user_session_path, method: :delete do%>
              <span class="save-btn">Top</span>
            <% end %>
            <%= link_to edit_user_path(@user) do %>
              <span class="save-btn">Edit</span>
            <% end %>
            </div>
          </div>
          <div class="profile-text"></div>
        </div>    
        <div class="right-my-low">
          <div class="my-photo">
            <div class="my-photo-title">My Posts List</div>
            
            <ul class = "photo-li">
            <span class = "list-json"></span>
                
                <% @tweets.each do |tweet| %>
                <li class="photo-up">
                  <div class="photo-img"></div>
                  <span><%= tweet.title%></span>
                <% end %>
                <div class="pad">
                  <%= paginate @tweets %>
                </div>
                </li> 
            </ul>
          </div>
        </div>
    </section>
    <section class="calendar">
      <p id="notice"><%= notice %></p>

<h1 class = "toyoda">My Calendar</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to '詳細', blog %></td>
        <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
        <td><%= link_to '削除',blog_path(blog.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'カレンダーに記述', new_blog_path %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>
    </section>
    <section class="graph">Graph</section>
  </div>
</div>

<%= javascript_pack_tag 'mypage.js' %>